.prescript {
  background-color: #fff;
  display: flex;
  padding: 1rem 1.3rem 3rem 1.3rem;
  height: 100vh !important;
  width: 40% !important;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 3px 6px 2px rgb(51 51 51 / 23%);
}
.col-header {
  display: flex;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: #e3e7f5;
  width: 99%;
  height: 10%;
  align-items: center;
  justify-content: left;
}

.col-head {
  display: flex;
  background-color: #005dab;
  height: 90%;
  width: 99%;
  align-items: center;
  justify-content: left;
  box-shadow: 0 2px 6px 1px #888888;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.title {
  color: rgb(250, 246, 246);
  font-size: 2rem;
  font-weight: 780;
  /* justify-content: center; */
  margin-left: 2.5rem;
  margin-bottom: 0;
  display: flex;
  flex: 2;
}
.drg {
  color: rgb(7, 174, 219);
}

.col-footer {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: #e3e7f5;
  width: 99%;
  height: 8%;
}

.col-foot {
  display: flex;
  background-color: #494848;
  height: 90%;
  width: 99%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px 1px #888888;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.noSelect:focus {
  outline: none !important;
}

#appContainer {
  overflow: hidden;
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.version {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 0.5rem;
}

main {
  height: 55vw;
  margin: 0;
  display: flex;
  align-items: center;
}
body {
  margin: 0;
}

input {
  width: 60% !important;
  font-size: 0.8rem;
  color: black;
  margin: 0 !important;
  padding: 0 !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}

.close-button > span {
  font-size: 1.3rem;
}

.row1-header-presc {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 22vh;
}

.title-1 {
  padding: 0;
  margin: 0;
  width: 75%;
}

.ss {
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 19%;
}

.tel-no {
  padding-bottom: 1rem;
  letter-spacing: 1px;
}

.dd > p {
  font-size: 0.7rem;
  letter-spacing: 0.5px;
}

.title-1 > .ss > h3 {
  color: blue;
}
.title-1 > .ss > p {
  color: black;
  font-size: 0.8rem;
  display: flex;
  text-align: center;
  align-content: center;
  align-self: center;
  padding-left: 4px;
  padding-top: 0.1rem;
  letter-spacing: 1.2px;
}

.epres {
  font-size: 1.42rem;
  padding: 0 0 0 0;
  margin: 0 0 12px 0;
  letter-spacing: 1.5px;
}

.epres > p {
  font-size: 0.5rem;
  float: right;
  padding: 23px 0 0 0;
  margin: 0 0 -1rem 0;
}

.title-1 > .heading {
  font-size: 0.67rem;
  letter-spacing: 1.1px;
  line-height: 0.8;
}

.title-2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.title-2 > img {
  width: 64%;
  margin: 0;
  padding: 0;
}

.title-2 > a {
  font-size: 0.6rem;
  padding-bottom: 3px;
  color: blue;
}

.title-2 > button {
  width: 61.8%;
  height: 25%;
  padding: 5px;
  font-size: 0.8rem;
  background-color: blue;
  color: #f3f3f3;
  border-radius: 5px;
  float: right;
}

.pdtails-cont {
  /* border: solid 1px black; */
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.67rem;
  margin-top: 5px !important;
  margin-bottom: 17px !important;
  position: relative;
}

.pdtails-col-1,
.pdtails-col-2,
.pdtails-col-3 {
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
}

.pdtails-col-1 {
  display: flex;
  flex-direction: row;
  border: solid 1px black;
}

.pdtails-col-2 {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  border-left: solid 1px black;
}

.pdtails-col-3 {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px black;
  border-right: solid 1px black;
  border-left: solid 1px black;
}

.pdtails-col-1 > p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 2px;
  margin: 0;
  display: flex;
  flex: 1;
}

.pdtails-col-2 > p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 2px;
  margin: 0;
  display: flex;
  flex: 1;
}

.pdtails-col-3 > p {
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding: 2px;
  margin: 0;
  display: flex;
  flex: 1;
}

.pdtails-col-1 > .bord-right {
  border-right: solid 1px black;
}

.pdtails-col-2 > .bord-right {
  border-right: solid 1px black;
}

.pdtails-col-3 > .bord-right {
  border-right: solid 1px black;
}

table {
  border: 1px solid black;
}
th,
td {
  border-right: 1px solid black;
  width: fit-content;
  height: fit-content;
  padding: 1.2px !important;
}
th {
  font-size: 0.8rem;
}

td {
  font-size: 0.8rem;
  word-break: break-all;
}
textarea {
  resize: vertical;
}

::-webkit-resizer {
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0 solid rgba(0, 0, 0, 0);
  background: rgba(255, 0, 0, 0);
  outline: 1px solid rgba(255, 255, 0, 0);
  opacity: 0;
}

textarea {
  user-select: all;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.185);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
}

.productId {
  width: 100% !important;
  margin: 0 !important;
  word-wrap: break-word;
  font-size: 0.5rem;
  color: #f3f3f3;
}

.availability {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 0.8rem;
}

.txtarea {
  width: 90% !important;
  padding: 10px 0 0 5px !important;
  margin: 0 !important;
  word-wrap: break-word;
  font-size: 0.8rem;
}

.quantity-cont {
  padding: 0;
  width: 8% !important;
}

.quantity {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.pdtails {
  border: 0;
}
.signee > h5 {
  letter-spacing: 1px;
  font-size: 0.69rem;
}

.pdtails > p {
  font-size: 0.6rem;
}

.pdtails > p > input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 0.6rem;
}

.signee {
  margin-top: 3rem !important;
  margin-bottom: 4rem !important;
  margin-left: 0 !important;
  height: 10%;
  width: 50%;
  display: flex;
  float: left;
  flex-direction: column;
}

.notice {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.notice > h3 {
  /* width: 31%;  */
  font-size: 1rem !important;
  margin-bottom: 1px;
  margin-right: 0.5rem;
}

.notice > .ttl-align {
  margin: 0;
  padding-top: 5.5px;
  font-size: 0.65rem;
  letter-spacing: 0.7px;
  justify-content: center;
  text-align: justify;
}

.pnotice {
  margin: 0;
  font-size: 0.65rem;
  letter-spacing: 0.7px;
  text-align: justify;
  line-height: 14px;
}

.ttl {
  margin: 0;
}

.address {
  margin-bottom: 7px !important;
}

.tbl {
  position: relative;
  width: 100%;
}

.txtarea-con {
  width: 10%;
}
