.search {
  width: 100%;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  font-weight: 800;
}

.searchTerm {
  font-family: Helvetica, sans-serif;
  letter-spacing: 2px;
  width: 80% !important;
  border: 1.2px solid #dfe1e5;
  border-right: none;
  padding: 1px 0 0 10px !important;
  height: 2.5rem !important;
  outline: none;
  color: #777 !important;
  font-weight: 600;
  border-radius: 7px 0 0 7px;
  box-shadow: 0 3px 3px rgb(51 51 51 / 23%);
}

.searchTerm:focus {
  color: #555;
}

.searchButton {
  width: 37px;
  height: 2.5rem;
  border: 1.2px solid #dfe1e5;
  background: #fff;
  text-align: center;
  letter-spacing: 2px;
  color: #005dab;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 3px 3px rgb(51 51 51 / 23%);
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 600;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.UlDropdown {
  position: absolute;
  top: 100%;
  list-style: none;
  width: 89.5%;
  margin: 0;
  padding: 0;
}

.display {
  display: block !important;
}

.product_li {
 margin-left: 10px;
    transition: all .5s ease-in-out;
    color: #777;
    box-sizing: border-box;
    width: 100%;
    font-size: medium;
    font-weight: 600;
    padding: 18px 0 18px 10px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(.25turn,rgba(185,185,184,.12),rgba(7,173,219,.3),rgba(185,185,184,.12));
    border-image-slice: 1;
    width: 100%;
    letter-spacing: 1px;
    z-index: 2;
    position: relative;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}


.product_li.selected {
  background-image: linear-gradient(
    0.25turn,
    rgba(240, 240, 236, 0.12),
    rgba(7, 173, 219, 0.15),
    rgba(240, 240, 236, 0.12)
  );
}


.btn-container{
  display: flex;
  margin-bottom: 3%;
  gap: 10px;
  margin-left: -2.5%;
}

.btn{
  width: 11rem;
  height: 2.2rem;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  background-color: #fff;
  letter-spacing: 1.2px;
  font-size:.9rem;
  box-shadow: 0 2px 1px rgb(51 51 51 / 23%);
  border-radius: 6px;
  border: 1px solid #dfe1e5;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  padding-top: 7px;
  padding: 0;
}

.btn-register{
  color: #005dab;
}

.btn-get-token{
 
  color: #00aad2;
}

.btn:active{
  background-color: #fdfdfd;
  color: blue;
  box-shadow: 0 2px 1px rgba(4, 104, 255, 0.493);
  transform: translateY(1.5px);
  transition: .3ms;
}

.btn a{
  width: 100%;
  height: 100%;
  padding: 8px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }